@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
  display: flex;
  flex-wrap: wrap; /* Permite que se ajusten si no caben */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  gap: 0.5rem; /* Espacio entre botones */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination button {
  background-color: #f4c542;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease;
}

.pagination button:hover {
  background-color: #f9d55c;
  transform: translateY(-2px);
}
